.advantages__container {
  display: flex;
  flex-direction: column;
}

.advantage__information {
  margin-top: 32px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 55px;
    margin-bottom: 41px;
  }
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
  }
}

.advantage__sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.advantage__card {
  background-color: @blue;
  color: @white;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &:last-of-type {
    grid-template-columns: 2fr 1fr;
  }
}

.advantage__wrapper {
  min-width: 282px;
  padding-top: 39px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    padding-top: 41px;
    padding-bottom: 42px;
    padding-right: 32px;
    padding-left: 32px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 41px;
    padding-bottom: 42px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

.advantage__card:last-of-type .advantage__wrapper {
  order: 2;
}

.advantage__cause {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantage__number {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 16px;
}

.advantage__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantage__img {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.advantage__card:last-of-type .advantage__img {
  order: 1;
}

.advantage__facilities {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: left;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 156px;
    padding-bottom: 59px;
  }
}

.advantage__facility {
  padding-left: 51px;

  @media (min-width: @tablet-width) {
    text-align: center;
    padding-left: 36px;
    padding-right: 36px;

    &:nth-child(2) {
      order: 3;
    }
  }

  &:not(:last-child) {
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }
}

.advantage__facility__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-bottom: 22px;
  }
}

.advantage__facility__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantage__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantage__item {
  background-color: #eeeeee;
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 41px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
    padding-bottom: 62px;
    padding-left: 42px;
    padding-right: 43px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.advantage__item .advantage__cause {
  margin-bottom: 11px;
}

.advantage__item .advantage__number {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}
