.button {
  background-color: @blue;
  color: @white;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 26px;
  width: 280px;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  text-transform: uppercase;

  &:active {
    color: @white;
    opacity: 0.3;
    background-color: @active-background;
  }

  &:hover {
    background-color: @hover-background;
    color: @white;
  }

  &:disabled {
    background-color: @grey;
    color: @white;
  }
}
