.contact__container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  padding-top: 34px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.contact__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.contact__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    width: 435px;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 43px;
  }
}

.contact__button {
  padding-top: 14px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
