.intro {
  background-image: url("../img/sedona-first-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  height: 389px;
}

.intro--inner-page {
  height: 158px;
  background-position-x: center;
  background-position-y: bottom;
}

.intro__banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
