.video {
  padding-top: 32px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 53px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 62px;
    padding-bottom: 85px;
  }
}

.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 34px;
  padding-left: 26px;
  padding-right: 26px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: auto;
    width: 445px;
    margin-bottom: 85px;
  }
}

.video__player {
  position: relative;
}

.video__show {
  display: flex;

  @media (min-width: @tablet-width) {
    height: 500px;
    width: 648px;
    object-fit: cover;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.video__img {
  display: flex;

  @media (min-width: @tablet-width) {
    height: 500px;
    width: 648px;
    object-fit: cover;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.video__controls {
  display: flex;
  min-height: 66px;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 25px;
  padding-right: 23px;

  @media (min-width: @tablet-width) {
    background-color: rgba(0, 0, 0, 0.6);
    width: 572px;
    position: relative;
    height: 93px;
    margin-top: -93px;
    padding-left: 35px;
    padding-right: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 724px;
  }
}

.video__button-svg {
  fill: #5c6870;
  opacity: 1;

  &:hover,
  &:focus {
    fill: #333333;
  }

  &:active {
    fill: rgba(51, 51, 51, 0.3);
  }

  @media (min-width: @tablet-width) {
    fill: @white;

    &:hover,
    &:focus {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.video__line {
  min-height: 45px;
  position: absolute;
  max-width: 800px;
  min-width: 280px;
  display: flex;
  opacity: 0.8;
  background-color: @black;
  bottom: 66px;
  margin-left: -25px;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    position: static;
    width: 389px;
    margin-left: 42px;
    margin-right: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.video__line::after {
  content: "";
  width: 100%;
  background-color: @white;
  opacity: 0.2;
  height: 3px;
  margin: auto;
  margin-left: 23px;
  margin-right: 23px;

  @media (min-width: @tablet-width) {
    margin: auto;
  }
}

.video__line::before {
  content: "";
  position: absolute;
  background-color: @white;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin-left: 111px;
    margin-top: 16px;
  }
}

.video__button {
  height: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  padding: 0;
}

.video__button--repeat {
  width: 16px;
  margin-right: 133px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.video__button--subtitles {
  width: 32px;
}

.video__button--full-screen {
  width: 20px;
  margin-left: 31px;
}
