body {
  background: @white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  min-width: 320px;

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.global-wrapper {
  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    background-color: @white;
    box-shadow: 0 0 15px rgb(0 1 1 / 20%);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}
